*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 6.25%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*Header*/

.header-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0 1%;
}

.header-list li{
    margin: 1% 0.5%;
}

.header-list a{
    font-size: 13rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.header-list a:hover{
    text-decoration: underline;
    color: #575555;
}

.user{
    border-radius: 100%;
}

/*End of the Header*/

/*Main*/

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77vh;
}

.main-container__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 5vh;
}

.logo-container{
    margin: 4vh;
    width: 20vw;
}

.logo-container img{
    width: 100%;
}
.searcher{
    width: 40vw;
}
.searcher{
    width: 42vw;
    height: 7vh;
    font-size: 16rem;
    border-radius: 25px;
    border: #d4d0d0b7 solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searcher input{
    width: 70%;
    height: 4vh;
    font-size: 16rem;
    outline: none;
    border: none;
}

.searcher img:last-child{
    width: 22px;
    height: 22px;
    margin: 0 3%;
}

.searcher img{
    width: 12px;
    height: 12px;
    margin: 0 3%;
}
.searcher:hover{
    box-shadow: 0 4px 16px #6e6c6c57;
    transition: all 0.2s ease;
}

.buttons-container{
    display: flex;
    margin: 2%;
    width: 50vw;
    justify-content: center;
    height: 6.5vh;
    font-size: 15rem;
    margin-top: 5%;
}

button{
    width: 12vw;
    height: 6vh;
    color: #575555;
    border: none;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
}

button:hover{
    border: #b3b0b0b7 solid 1px;
    color: #020202;
    box-shadow: 0 4px 16px #6e6c6c57;
    transition: all 0.2s ease;
}

/*End of the main*/

/*Footer*/

.footer{
    display: flex;
    flex-direction: column;
    color: #696767;
    width: 100vw;
    height: 14vh;
    font-size: 16rem;
    background-color: #f2f2f2 ;
    border: solid #d4d0d0b7 1px;
}

.footer_one{
    font-size: 14rem;
    border: solid #d4d0d0b7 1px;
}

.footer_one p{
    padding-left: 1vw;
    margin: 1vw;
}


.footer_two{
    font-size: 14rem;
    margin: 0vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_one{
    padding: 0 1vw;
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}

.nav_one li{
    padding: 0 1vw;
}

.nav_one a{
    text-decoration: none;
    color: #696767;
}

.nav_one a:hover{
    text-decoration: underline;
}